section {
  width: 100%;
  display: flex;
  justify-content: center;
}

#sec-2 {
  background-color: var(--background-color);
}
.scroll-down-container {
  place-self: center;
  padding: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: center;
}
.scroll-down {
  justify-self: end;
  height: 50px;
  width: 30px;
  border: 3px solid var(--primary-color);
  border-radius: 50px;
  cursor: pointer;
  transform: translateX(-50%);
  align-self: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 3px solid var(--primary-color);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }

  &::before {
    top: 30%;
    animation-delay: 0.3s;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.pages-home {
  h1 {
    color: var(--primary-color);
    //border-color: var(--primary-color)!important;
    line-height: 1.3;
  }
  .intro {
    background: linear-gradient(
      to right,
      var(--accent-color) 0%,
      var(--accent-color) 65%,
      var(--primary-color) 65%,
      var(--primary-color) 100%
    );
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 80px 40px 60px 40px;
  }

  .font {
    flex: 1;
    color: var(--primary-color);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.04em;
    align-content: center;
    font-size: 1.5vw;
    padding-right: 40px;

    p {
      font-size: 1em;
      margin-bottom: 20px;
      margin-right: 25px;
    }

    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
    }
  }

  .douglas {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 500px;
      margin-left: -25vw;
    }
  }

  .font-2 {
    flex-basis: 100%;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 1.5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .about-me {
    margin: 2vh 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 20px;
    padding: 80px 40px 60px 40px;
    //background-color: var(--accent-color);
    width: 100%;
    color: var(--primary-color);

    h1 {
      font-size: 3em;
      font-weight: 600;
      padding: 0 20px 20px 0;
    }

    .left {
      grid-column: 1;
      grid-row: 1;
      padding: 20px;
      letter-spacing: 0.03em;
      font-weight: 500;
      max-width: 620px;
      justify-self: anchor-center;
    }

    .right {
      grid-column: 2;
      grid-row: 2;
      padding: 20px;
      letter-spacing: 0.03em;
      font-weight: 500;
      max-width: 620px;
      justify-self: anchor-center;
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;

      .left,
      .right {
        p {
          font-size: 0.9em;
        }
        h1 {
          font-size: 2em;
        }
        grid-column: 1;
        grid-row: auto;
      }
    }
  }
}
.contact {
  width: 100%;
}

@media screen and (min-width: 1300px) {
  .font {
    font-size: 1.2em !important;
    margin-left: 6vw;
    margin-right: 6vw;

    p {
      width: 500px;
    }
  }

  .font-2 {
    margin-left: 6vw;
    margin-right: 6vw;
    font-size: 1em !important;

    p {
      width: 350px;
    }
  }
}


@media screen and (max-width: 720px) {
  .scroll-down {
    border: 2px solid var(--accent-color);
  }

  .douglas {
    img {
      margin-left: -19vw !important;
    }
  }

  .font-2 {
    font-size: 0.7em !important;
  }
  .font {
    font-size: 0.7em !important;

    p {
      width: 200px;
    }
  }
  
  .pages-home {
    .intro {
      background: var(--accent-color);
      flex-flow: column;
      padding: 0 0 0 0;
    }

    .font {
      padding-right: 0;
      padding: 150px 20px 60px 20px;
      
      p {
        font-size: 1.3em;
        width: 100%;
      }
      background: var(--primary-color);
      color: var(--accent-color);
    }

    .font-2 {
      padding: 20px 20px 50px 20px;
      color: var(--primary-color);
      grid-template-columns: repeat(2, 1fr);

      p {
        font-size: 1.3em;
        width: 100%;
      }

      a {
        grid-column: span 2;
        justify-self: center;
      }
    }

    .scroll-down {
      margin-left: 20px;
      border: 2px solid var(--primary-color);

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        height: 10px;
        width: 10px;
        transform: translate(-50%, -100%) rotate(45deg);
        border: 3px solid var(--primary-color);
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
      }

      &::before {
        top: 30%;
        animation-delay: 0.3s;
      }
    }
    .intro {
      h1 {
        color: var(--accent-color);
      }
    }
    .douglas {
      img {
        max-width: 250px;
        margin-left: 0 !important;
      }
    }
  }
}
